{% extends 'picApp/basepage.html' %}

{% block head %}
{% endblock %}

{% block body %}

<div style="padding-right: 20vw;">
  <div class="card-columns" style="display: inline-block; column-count: 4; column-gap: 5px;">
    {% for p in posts %}
    <div class="card"
      style="width: 20vw; margin-left: 10px;">
      <img src="{{p.image.url}}" class="card-img-top">
      <div class="card-body">
        <div class="card-text">{{p.date}} <br> posted by: {{p.main_user}}</div>
      </div>
    </div>
    {% endfor %}
    {% endblock %}
  </div>
</div>