{% extends 'picApp/basepage.html' %}

{% load widget_tweaks %}

{% block head %}
    <link rel="stylesheet" href="pictureApp\Styles\picApp\bootstrap-tagsinput.css">
    <script src="pictureApp\static\js\bootstrap-tagsinput.js"></script>
{% endblock %}

{% block body %}
<form method="post" action="{% url 'imageUpload' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form.visible_fields %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    {% endfor %}
    <button class="w-100 btn btn-lg btn-primary" type="submit" value="CreateAlbum">Publish</button>
</form>
{% endblock %}