{% extends 'picApp/homepage.html' %}


{% block script%}
    <script>
        function matchPassword() {  
            var pw1 = document.getElementById("password1");  
            var pw2 = document.getElementById("password2");  
            if(pw1 != pw2)  
            {   
              alert("Passwords did not match");  
            } else {  
              alert("Account created successfully");  
            }  
          } 
    </script>
{% endblock %}

{% block body %}   
    <form method="POST">
        {% csrf_token %}
        <div style="color: white; padding: 10px;">
        {{ signUpForm }}
        </div>
        <button type="submit" class="btn btn-primary" onclick="matchPassword">Submit</button>
    </form>
{% endblock %}